<h1>Lista de Produtos Requisitados</h1>
<table>
  <tr>
    <th>Nome</th>
    <th>Quantidade</th>
    <th>Preço</th>
    <th>Nivel do Stock</th>
  </tr>
  
    @each(p as products)
    <tr>
      <td>{{p.name}}</td>
      <td>{{p.quantity}}</td>
      <td>{{p.price}}</td>
      <td>{{p.stockLevel}}</td>
    <tr>
    @endeach

</table>